@import "../../../../node_modules/bulma/sass/utilities/initial-variables";

.voter-location {
  margin: 1.5em 0;

  &:first-child, &:last-child {
    margin: 0;
  }
}

.voter-button {

  &.voted, &:hover {
    color: $white;
    background-color: $green;
  }

  color: $green;
  font-weight: bold;
}