@import "variables";
@import "../node_modules/bulma/bulma";

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.content-root {
  height: 100vh;
}

#logo {
  width: auto;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}